
@use './Header.scss';
@use './Homepage.scss';
@use './Footer.scss';
@use './about.scss';
@use './contact.scss';
@use './products.scss';
@use './errors.scss';
@use './quality.scss';


@font-face {
    font-family: 'Uni-Sans-Bold-Italic';
    src: url('/fonts/Uni\ Sans\ Italic.otf') format('opentype');
}



@font-face {
    font-family: 'Benzin-Extra-Bold';
    src: url('/fonts/Benzin-ExtraBold.ttf') format('truetype');
}


@font-face {
    font-family: 'Benzin-Bold';
    src: url('/fonts/Benzin-Bold.ttf') format('truetype');
}



@font-face {
    font-family: 'Benzin-Semi-Bold';
    src: url('/fonts/Benzin-Semibold.ttf') format('truetype');
}


@font-face {
    font-family: 'Benzin-Medium';
    src: url('/fonts/Benzin-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Benzin-Regular';
    src: url('/fonts/Benzin-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf') format('truetype');
}



@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto-Black';
    src: url('/fonts/Roboto-Black.ttf') format('truetype');
}


@font-face {
    font-family: 'Readex';
    src: url('/fonts/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype');
}


@font-face {
    font-family: 'Cairo-Extra-Light';
    src: url('/fonts/Cairo-ExtraLight.ttf') format('truetype');
}


@font-face {
    font-family: 'Cairo-Light';
    src: url('/fonts/Cairo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo-Regular';
    src: url('/fonts/Cairo-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Cairo-Medium';
    src: url('/fonts/Cairo-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Cairo-Bold';
    src: url('/fonts/Cairo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Cairo-Black';
    src: url('/fonts/Cairo-Black.ttf') format('truetype');
}

:root{
    --Original-BG: #EFEFEF;
    --White-BG: #f7f7f7;
    --Primary-Color: #ffcc08;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}


  

body{
    overflow-x: hidden;
    background-color: #F7F7F7;
}


@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }


.loading-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    .dot {
        width: 17px;
        height: 17px;
        margin: 0 5px;
        background-color: var(--Primary-Color);
        border-radius: 50%;
        animation: jump 0.6s infinite ease-in-out;
      }
}
  

body[dir="rtl"]{
    .top-page-info-container{

        .location-div{


        
            .main-parag-location{
                font-family: 'Cairo-medium';
            }
    
            .pop-location{
              
                right: 0;
              
    
                .country{
                    
                    .title{
                        height: 50px;
                        h2{
                            font-family: 'Cairo-Medium';
                        }
                    }
    
                    h3{
                        text-align: right;
                        flex-direction: row-reverse;
                        direction: ltr;
                      .icon{
                        transform: scaleX(-1);
                        -webkit-transform: scaleX(-1);
                        -moz-transform: scaleX(-1);
                        -ms-transform: scaleX(-1);
                        -o-transform: scaleX(-1);
                        }

                    }
    
                }
            }
    
    
        }
     
      
    }
}
  
.top-page-info-container{
    background-color: #111111;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-family: 'Roboto-Medium';
    padding: 0px 25px;
   

    .location-div{

        position: relative;
    
        .main-parag-location{
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
            text-transform: uppercase;

            .icon{
                color: var(--Primary-Color);
            }
        }

        .pop-location{
            background-color: #262626;
            width: 300px;
            position: absolute;
            top: 44px;
            left: 0;
            z-index: 2;
            border: 1px solid rgb(64, 64, 64);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            .country{
                padding: 15px;

                .title{
                    height: 40px;
                    border-bottom: 1px solid #3e3e3e;
                    h2{
                        font-family: 'Roboto-Medium';
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        text-transform: uppercase;
                        .icon{
                            color: var(--Primary-Color);
                        }
                    }
                }

                h3{
                    font-family: 'Roboto-Regular';
                    font-weight: 400;
                    display: flex;
                    gap: 7px;
                    margin-top: 15px;

                    a{
                        text-decoration: underline;
                        color: white;
                    }

                    .icon{
                        flex-shrink: 0;
                        color: var(--Primary-Color);
                    }
                }

            }
        }


    }

    
}



@media (max-width: 2048px){
    .top-page-info-container{

        height: 62px;

        .location-div{

  
    
            .main-parag-location{
                font-size: 15px;
    
                .icon{
                    font-size: 15px;
                }
            }


            .pop-location{
                width: 280px;
                top: 40px;
    
                .country{
                    padding: 15px;
    
                    .title{
                        height: 38px;
                        h2{
                            font-size: 22px;
                        }
                    }
    
                    h3{
                        margin-top: 15px;
                        font-size: 17.5px;
                    }
    
                }
            }
    
        }

        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 47px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 1921px){
    .top-page-info-container{

        height: 58px;

        .location-div{

  
    
            .main-parag-location{
                font-size: 14px;
    
                .icon{
                    font-size: 14px;
                }
            }


            .pop-location{
                width: 260px;
                top: 36px;
    
                .country{
                    padding: 13px;
    
                    .title{
                        height: 36px;
                        h2{
                            font-size: 20px;
                        }
                    }
    
                    h3{
                        margin-top: 15px;
                        font-size: 16px;
                    }
    
                }
            }
    
        }

        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 44px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 1707px){
    .top-page-info-container{

        height: 52px;

        

        .location-div{

  
    
            .main-parag-location{
                font-size: 13px;
    
                .icon{
                    font-size: 13px;
                }
            }


            .pop-location{
                width: 225px;
                top: 34px;
    
                .country{
                    padding: 13px;
    
                    .title{
                        height: 32px;
                        h2{
                            font-size: 18px;
                        }
                    }
    
                    h3{
                        margin-top: 10px;
                        font-size: 14.5px;
                    }
    
                }
            }
    
        }

    
        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 38px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 1537px){
    .top-page-info-container{

        height: 47px;

        .location-div{

  
    
            .main-parag-location{
                font-size: 12px;
    
                .icon{
                    font-size: 12px;
                }
            }


            .pop-location{
                width: 205px;
                top: 30px;
    
                .country{
                    padding: 11px;
    
                    .title{
                        height: 30px;
                        h2{
                            font-size: 16px;
                        }
                    }
    
                    h3{
                        margin-top: 10px;
                        font-size: 13px;
                    }
    
                }
            }
    
        }

    
        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 35px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 1260px){
    .top-page-info-container{

        height: 42px;

        .location-div{

  
    
            .main-parag-location{
                font-size: 11px;
    
                .icon{
                    font-size: 11px;
                }
            }


            .pop-location{
                width: 185px;
                top: 26px;
    
                .country{
                    padding: 10px;
    
                    .title{
                        height: 28px;
                        h2{
                            font-size: 14px;
                        }
                    }
    
                    h3{
                        margin-top: 10px;
                        font-size: 11.5px;
                    }
    
                }
            }
    
        }

    
        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 30px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 1107px){
    .top-page-info-container{

        height: 35px;


        .location-div{

            .main-parag-location{
                font-size: 10px;
    
                .icon{
                    font-size: 10px;
                }
            }


            .pop-location{
                width: 185px;
                top: 24px;
    
                .country{
                    padding: 10px;
    
                    .title{
                        height: 28px;
                        h2{
                            font-size: 14px;
                        }
                    }
    
                    h3{
                        margin-top: 10px;
                        font-size: 11.5px;
                    }
    
                }
            }
    
        }


        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 29px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}


@media (max-width: 900px){
    .top-page-info-container{

        height: 35px;
        padding: 0px 15px;

        .location-div{

            .main-parag-location{
                font-size: 9px;
                gap: 4px;
    
                .icon{
                    font-size: 9px;
                }
            }


            .pop-location{
                width: 165px;
                top: 23px;
    
                .country{
                    padding: 10px;
    
                    .title{
                        height: 24px;
                        h2{
                            font-size: 12px;
                        }
                    }
    
                    h3{
                        margin-top: 10px;
                        font-size: 10px;
                    }
    
                }
            }
    
        }

        
    }

    body[dir="rtl"]{
        .top-page-info-container{
    
            .location-div{
    
    
            
                .pop-location{
                  
                 
                    .country{
                        
                        .title{
                            height: 26px;
                           
                        }
        
                      
        
                    }
                }
        
        
            }
         
          
        }
    }
}





@media (max-width: 455px) {
    .top-page-info-container{

        height: 35px;
        padding: 0px 3px;

        .icon{
            font-size: 7px;
        }
    
        p{
            font-size: 8px;
            gap: 2px;
        }
        
    }

}


@media (max-width: 344px){
    .top-page-info-container{

        display: none;
        
    }
}